@page "/About"

<h1 class="d-flex justify-content-center align-items-center" style="font-weight: 600; margin: 40px">Про AUTO666</h1>
<div class="d-flex flex-wrap container-fluid" style="background-color: white; height: 100%; width: 100%; border-radius: 7px 7px 0 0">
    <img src="/Images/About/Main.jpg" width="100%" height="100%" style="border-radius: 7px; margin-bottom: 35px">
    <h3 style="font-weight: 600; margin-bottom: 20px; margin-top: 7%">Профіль компанії</h3>
    <div id="desc" class="container-fluid">
        <div class="mini-logo">
            <img src="/Images/About/AboutCompany.png" width="307" height="235" />
        </div>
        <div class="text-desc" style="margin-left: 12%">
            <h5 style="font-weight: 600">Профіль компанії</h5>
            <p align="justify">
                AUTO666 — це найбільший український онлайн-ринок автомобілів з понад 30 
                мільйонами користувачів на місяць, понад 43 000 партнерами-дилерами 
                та близько 500 співробітниками.
            </p>
        </div>
    </div>
    <hr />
    <h3 style="font-weight: 600; margin-bottom: 20px">Факти і цифри</h3>
    <div id="desc" class="container-fluid">
        <div class="mini-logo">
            <img src="/Images/About/Facts.png" width="307" height="235" />
        </div>
        <div class="text-desc" style="margin-left: 12%">
            <h5 style ="font-weight: 600">Факти і цифри</h5>
            <p align="justify">
                AutoScout24 — це найбільший загальноєвропейський автомобільний онлайн-ринок. 
                З 1998 року автомобільний онлайн-ринок пропонує приватним 
                клієнтам, дилерам і виробникам комплексну платформу для онлайн-торгівлі 
                автомобілями.
            </p>
        </div>
    </div>
    <hr />
    <h3 style="font-weight: 600; margin-bottom: 20px">Керівництво</h3>
    <div id="desc" class="container-fluid">
        <div class="mini-logo">
            <img src="/Images/About/Management.png" width="307" height="235" />
        </div>
        <div class="text-desc" style="margin-left: 12%">
            <h5 style="font-weight: 600">Управління AUTO666</h5>
            <p align="justify">
                Керівництво Auto666.
            </p>
        </div>
    </div>
</div>

<div style="position: absolute; background-color: white; height: 130px; width: 100%; z-index: 1"></div>

