@page "/Checkout"
@inherits CheckoutBase

<h3 class="mb-5">Оплата</h3>
<div class="row">
    <div class="col-md-6" style="display:@DisplayButtons" >
        <h4 class="mb-2">Cпособ оплаты</h4>
        <div id="smart-button-container">
            <input type="hidden" name="descriptionInput" id="description" @bind="PaymentDescription" />
            <input name="amountInput" type="hidden" id="amount" @bind="PaymentAmount">
            <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
        </div>
    </div>
@if (ShoppingCartItems == null)
{
        <DisplaySpinner/>
    }
    else
    {
        <div class="col-md-6">
            <h4 class="mb-2">Всего к оплате</h4>
            @if (ShoppingCartItems.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Напиток</th>
                            <th>Цена</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in ShoppingCartItems)
                        {
                            <tr>
                                <td>@item.Qty x @item.ProductName</td>
                                <td>@item.TotalPrice.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-ua"))</td>
                            </tr>
                        }
                        <tr>
                            <td><b>Итого</b></td>
                            <td><b>@PaymentAmount.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-ua"))</b></td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <p>В данный момент корзина - пуста.</p>
            }
        </div>
}
</div>